@import "./src/styles/setup";

.header {
        background-color: white;

        .main-header {
                height: rem(175px);
                width: 100%;

                &.container {
                        padding-left: rem(165px);
                }

                .logo{
                        margin-right: rem(400px);
                }
        }
}